In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
housing = pd.read_csv(r'C:\Users\USER\Desktop\python\ML\2. Multiple Linear Regression\Multiple_Linear_Regression\Housing.csv')
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [3]:
housing['mainroad'] = housing['mainroad'].map({'yes':1 , 'no':0})
housing['guestroom'] = housing['guestroom'].map({'yes':1 , 'no':0})
housing['basement'] = housing['basement'].map({'yes':1 , 'no':0})
housing['hotwaterheating'] = housing['hotwaterheating'].map({'yes':1 , 'no':0})
housing['airconditioning'] = housing['airconditioning'].map({'yes':1 , 'no':0})
housing['prefarea'] = housing['prefarea'].map({'yes':1 , 'no':0})

In [4]:
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,furnished
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,furnished
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,semi-furnished
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,furnished
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,furnished

In [5]:
df = pd.get_dummies(housing['furnishingstatus'] , drop_first=True)

In [6]:
housing = pd.concat([df,housing],axis=1)

In [7]:
housing.drop('furnishingstatus',inplace=True,axis=1)

In [8]:
housing.head()

,semi-furnished,unfurnished,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea
0,0,0,13300000,7420,4,2,3,1,0,0,0,1,2,1
1,0,0,12250000,8960,4,4,4,1,0,0,0,1,3,0
2,1,0,12250000,9960,3,2,2,1,0,1,0,0,2,1
3,0,0,12215000,7500,4,2,2,1,0,1,0,1,3,1
4,0,0,11410000,7420,4,1,2,1,1,1,0,1,2,0

In [9]:
# Is bathroom available for every bedroom ?

housing['bbratio'] = housing['bedrooms'] / housing['bathrooms']

In [10]:
housing.head()

,semi-furnished,unfurnished,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,bbratio
0,0,0,13300000,7420,4,2,3,1,0,0,0,1,2,1,2.0
1,0,0,12250000,8960,4,4,4,1,0,0,0,1,3,0,1.0
2,1,0,12250000,9960,3,2,2,1,0,1,0,0,2,1,1.5
3,0,0,12215000,7500,4,2,2,1,0,1,0,1,3,1,2.0
4,0,0,11410000,7420,4,1,2,1,1,1,0,1,2,0,4.0

In [11]:
# Deriving area per bedroom based on area and bedroom

housing['area_per_bedroom'] = housing['area']/housing['bedrooms']

In [12]:
housing.head()

,semi-furnished,unfurnished,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,bbratio,area_per_bedroom
0,0,0,13300000,7420,4,2,3,1,0,0,0,1,2,1,2.0,1855.0
1,0,0,12250000,8960,4,4,4,1,0,0,0,1,3,0,1.0,2240.0
2,1,0,12250000,9960,3,2,2,1,0,1,0,0,2,1,1.5,3320.0
3,0,0,12215000,7500,4,2,2,1,0,1,0,1,3,1,2.0,1875.0
4,0,0,11410000,7420,4,1,2,1,1,1,0,1,2,0,4.0,1855.0

In [13]:
# Scaling

def norm(x):
    return (x-min(x))/(max(x)-min(x))

In [14]:
housing = housing.apply(norm)

In [15]:
housing.head()

,semi-furnished,unfurnished,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,bbratio,area_per_bedroom
0,0.0,0.0,1.000000,0.396564,0.6,0.333333,0.666667,1.0,0.0,0.0,0.0,1.0,0.666667,1.0,0.2,0.237016
1,0.0,0.0,0.909091,0.502405,0.6,1.000000,1.000000,1.0,0.0,0.0,0.0,1.0,1.000000,0.0,0.0,0.298923
2,1.0,0.0,0.909091,0.571134,0.4,0.333333,0.333333,1.0,0.0,1.0,0.0,0.0,0.666667,1.0,0.1,0.472584
3,0.0,0.0,0.906061,0.402062,0.6,0.333333,0.333333,1.0,0.0,1.0,0.0,1.0,1.000000,1.0,0.2,0.240232
4,0.0,0.0,0.836364,0.396564,0.6,0.000000,0.333333,1.0,1.0,1.0,0.0,1.0,0.666667,0.0,0.6,0.237016

In [16]:
X_features = list(housing.columns)
X_features.remove('price')

In [17]:
import statsmodels.api as sm

In [18]:
X = sm.add_constant(housing[X_features])
y = housing['price']

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=100)

In [21]:
# Model

lm = sm.OLS(y_train,X_train).fit()

In [22]:
# Accuracy

lm.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                 Results: Ordinary least squares
==================================================================
Model:              OLS              Adj. R-squared:     0.673
Dependent Variable: price            AIC:                -736.7357
Date:               2020-05-22 21:21 BIC:                -673.6509
No. Observations:   381              Log-Likelihood:     384.37
Df Model:           15               F-statistic:        53.10
Df Residuals:       365              Prob (F-statistic): 4.71e-82
R-squared:          0.686            Scale:              0.0081263
------------------------------------------------------------------
                    Coef.  Std.Err.    t    P>|t|   [0.025  0.975]
------------------------------------------------------------------
const               0.0840   0.0378  2.2225 0.0269  0.0097  0.1583
semi-furnished     -0.0006   0.0118 -0.0513 0.9591 -0.0239  0.0227
unfurnished        -0.0321   0.0127 -2.5273 0.0119 -0.0570 -0.0071
area                0.5567   0.1215  4.5840 0.0000  0.3179  0.7956
bedrooms           -0.0519   0.1203 -0.4314 0.6664 -0.2884  0.1846
bathrooms           0.2446   0.1257  1.9464 0.0524 -0.0025  0.4917
stories             0.1029   0.0194  5.3013 0.0000  0.0647  0.1410
mainroad            0.0507   0.0143  3.5522 0.0004  0.0226  0.0788
guestroom           0.0270   0.0138  1.9619 0.0505 -0.0001  0.0540
basement            0.0213   0.0111  1.9182 0.0559 -0.0005  0.0432
hotwaterheating     0.0858   0.0216  3.9636 0.0001  0.0432  0.1283
airconditioning     0.0661   0.0113  5.8476 0.0000  0.0439  0.0883
parking             0.0568   0.0181  3.1305 0.0019  0.0211  0.0924
prefarea            0.0560   0.0119  4.7276 0.0000  0.0327  0.0793
bbratio            -0.0444   0.1332 -0.3331 0.7392 -0.3063  0.2176
area_per_bedroom   -0.2937   0.1320 -2.2244 0.0267 -0.5533 -0.0340
------------------------------------------------------------------
Omnibus:              88.431       Durbin-Watson:          2.084
Prob(Omnibus):        0.000        Jarque-Bera (JB):       280.012
Skew:                 1.037        Prob(JB):               0.000
Kurtosis:             6.652        Condition No.:          78
==================================================================

"""

In [23]:
# Test for Overfit

# RMSE on training set

from sklearn import metrics

ytrain_pred = lm.predict(X_train)
rmse_train = np.sqrt(metrics.mean_squared_error(y_train,ytrain_pred))
print('rmse for training data is {}'.format(rmse_train))


# RMSE in testing set

ytest_pred = lm.predict(X_test)
rmse_test = np.sqrt(metrics.mean_squared_error(y_test,ytest_pred))
print('rmse for testing data is {}'.format(rmse_test))

rmse for training data is 0.08823266971675969
rmse for testing data is 0.09924807533210984

Difference between RMSE for training data and RMSE for testing data indicates overfit

# LASSO REGRESSION

In [24]:
from sklearn.linear_model import Lasso

In [25]:
# Applying alpha = 1 and running algorithms for 500 times  
lasso = Lasso(alpha=0.01 , max_iter=500)

In [26]:
lasso = lasso.fit(X_train,y_train)
lasso

Lasso(alpha=0.01, copy_X=True, fit_intercept=True, max_iter=500,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [27]:
# Test for Overfit after applying L1 Norm

# RMSE on training set

from sklearn import metrics

lasso_ytrain_pred = lasso.predict(X_train)
lasso_rmse_train = np.sqrt(metrics.mean_squared_error(y_train,lasso_ytrain_pred))
print('rmse for training data after applying lasso is {}'.format(lasso_rmse_train))


# RMSE in testing set

lasso_ytest_pred = lasso.predict(X_test)
lasso_rmse_test = np.sqrt(metrics.mean_squared_error(y_test,lasso_ytest_pred))
print('rmse for testing data after applying lasso is {}'.format(lasso_rmse_test))

rmse for training data after applying lasso is 0.1246255435412833
rmse for testing data after applying lasso is 0.13562914735235826

Observation - It can be observed that model is not overfitting.

In [28]:
lasso_coef = pd.DataFrame({'columns':housing.columns , 'coef':lasso.coef_})

In [29]:
lasso_coef

             columns      coef
0     semi-furnished  0.000000
1        unfurnished  0.000000
2              price -0.023159
3               area  0.000000
4           bedrooms  0.000000
5          bathrooms  0.008066
6            stories  0.056276
7           mainroad  0.028278
8          guestroom  0.010146
9           basement  0.005376
10   hotwaterheating  0.000000
11   airconditioning  0.076753
12           parking  0.028541
13          prefarea  0.050211
14           bbratio -0.000000
15  area_per_bedroom  0.000000

In [30]:
housing.head()

,semi-furnished,unfurnished,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,bbratio,area_per_bedroom
0,0.0,0.0,1.000000,0.396564,0.6,0.333333,0.666667,1.0,0.0,0.0,0.0,1.0,0.666667,1.0,0.2,0.237016
1,0.0,0.0,0.909091,0.502405,0.6,1.000000,1.000000,1.0,0.0,0.0,0.0,1.0,1.000000,0.0,0.0,0.298923
2,1.0,0.0,0.909091,0.571134,0.4,0.333333,0.333333,1.0,0.0,1.0,0.0,0.0,0.666667,1.0,0.1,0.472584
3,0.0,0.0,0.906061,0.402062,0.6,0.333333,0.333333,1.0,0.0,1.0,0.0,1.0,1.000000,1.0,0.2,0.240232
4,0.0,0.0,0.836364,0.396564,0.6,0.000000,0.333333,1.0,1.0,1.0,0.0,1.0,0.666667,0.0,0.6,0.237016

# RIDGE REGRESSION

In [31]:
from sklearn.linear_model import Ridge

In [32]:
ridge = Ridge(alpha=1 , max_iter=500)

In [33]:
ridge.fit(X_train,y_train)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=500, normalize=False,
      random_state=None, solver='auto', tol=0.001)

In [34]:
# Test for Overfit after applying L2 Norm

# RMSE on training set

from sklearn import metrics

ridge_ytrain_pred = ridge.predict(X_train)
ridge_rmse_train = np.sqrt(metrics.mean_squared_error(y_train,ridge_ytrain_pred))
print('rmse for training data after applying ridge is {}'.format(ridge_rmse_train))


# RMSE on testing set

ridge_ytest_pred = ridge.predict(X_test)
ridge_rmse_test = np.sqrt(metrics.mean_squared_error(y_test,ridge_ytest_pred))
print('rmse for testing data after applying ridge is {}'.format(ridge_rmse_test))

rmse for training data after applying ridge is 0.08913810374769675
rmse for testing data after applying ridge is 0.09821687814845231

# ELASTIC NET

In [35]:
from sklearn.linear_model import ElasticNet

In [36]:
elastic = ElasticNet(alpha=1.01 , l1_ratio=0.001 , max_iter=500)

In [37]:
elastic = elastic.fit(X_train,y_train)
elastic

ElasticNet(alpha=1.01, copy_X=True, fit_intercept=True, l1_ratio=0.001,
           max_iter=500, normalize=False, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [38]:
# Test for Overfit after applying Elasticnet

# RMSE on training set

from sklearn import metrics

elastic_ytrain_pred = elastic.predict(X_train)
elastic_rmse_train = np.sqrt(metrics.mean_squared_error(y_train,elastic_ytrain_pred))
print('rmse for training data after applying elasticnet is {}'.format(elastic_rmse_train))


# RMSE on testing set

elastic_ytest_pred = elastic.predict(X_test)
elastic_rmse_test = np.sqrt(metrics.mean_squared_error(y_test,elastic_ytest_pred))
print('rmse for testing data after applying elasticnet is {}'.format(elastic_rmse_test))

rmse for training data after applying elasticnet is 0.14088900761880627
rmse for testing data after applying elasticnet is 0.1543397888075728

0.014 = elastic
0.009 = ridge
0.011 = lasso