In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
housing = pd.read_csv(r'C:\Users\USER\Desktop\python\ML\2. Multiple Linear Regression\Multiple_Linear_Regression\Housing.csv')
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [3]:
housing['mainroad'] = housing['mainroad'].map({'yes':1,'no':0})
housing['guestroom'] = housing['guestroom'].map({'yes':1,'no':0})
housing['basement'] = housing['basement'].map({'yes':1,'no':0})
housing['hotwaterheating'] = housing['hotwaterheating'].map({'yes':1,'no':0})
housing['airconditioning'] = housing['airconditioning'].map({'yes':1,'no':0})
housing['prefarea'] = housing['prefarea'].map({'yes':1,'no':0})

In [4]:
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,furnished
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,furnished
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,semi-furnished
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,furnished
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,furnished

In [5]:
df = pd.get_dummies(housing['furnishingstatus'],drop_first=True)

In [6]:
housing = pd.concat([housing,df] , axis=1)
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,semi-furnished,unfurnished
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,furnished,0,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,furnished,0,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,semi-furnished,1,0
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,furnished,0,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,furnished,0,0

In [7]:
housing.drop('furnishingstatus' , axis=1 , inplace=True)

In [8]:
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,0,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,0,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1,0
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,0,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,0,0

In [9]:
from sklearn.preprocessing import MinMaxScaler

In [10]:
scaler = MinMaxScaler()

In [11]:
scaler = scaler.fit_transform(housing)

In [12]:
df = pd.DataFrame(scaler , columns=housing.columns)

In [13]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished
0,1.000000,0.396564,0.6,0.333333,0.666667,1.0,0.0,0.0,0.0,1.0,0.666667,1.0,0.0,0.0
1,0.909091,0.502405,0.6,1.000000,1.000000,1.0,0.0,0.0,0.0,1.0,1.000000,0.0,0.0,0.0
2,0.909091,0.571134,0.4,0.333333,0.333333,1.0,0.0,1.0,0.0,0.0,0.666667,1.0,1.0,0.0
3,0.906061,0.402062,0.6,0.333333,0.333333,1.0,0.0,1.0,0.0,1.0,1.000000,1.0,0.0,0.0
4,0.836364,0.396564,0.6,0.000000,0.333333,1.0,1.0,1.0,0.0,1.0,0.666667,0.0,0.0,0.0

In [14]:
from sklearn.feature_selection import RFE

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
X_features = list(housing.columns)
X_features.remove('price')
X_features

['area',
 'bedrooms',
 'bathrooms',
 'stories',
 'mainroad',
 'guestroom',
 'basement',
 'hotwaterheating',
 'airconditioning',
 'parking',
 'prefarea',
 'semi-furnished',
 'unfurnished']

In [17]:
X = df[X_features]
y = df['price']

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [20]:
lm = LinearRegression()

In [21]:
rfe = RFE(lm , n_features_to_select=8)

In [22]:
rfe = rfe.fit(X_train,y_train)

In [24]:
rfe.ranking_

array([1, 1, 1, 1, 3, 2, 5, 1, 1, 1, 1, 6, 4])

In [25]:
rfe.support_

array([ True,  True,  True,  True, False, False, False,  True,  True,
        True,  True, False, False])

In [29]:
col = X_train.columns[rfe.support_]
col

Index(['area', 'bedrooms', 'bathrooms', 'stories', 'hotwaterheating',
       'airconditioning', 'parking', 'prefarea'],
      dtype='object')

In [31]:
import statsmodels.api as sm
X = sm.add_constant(X_train[col])
X

,const,area,bedrooms,bathrooms,stories,hotwaterheating,airconditioning,parking,prefarea
52,1.0,0.298969,0.6,0.333333,1.000000,0.0,1.0,0.333333,0.0
95,1.0,0.168385,0.4,0.333333,0.666667,0.0,1.0,0.666667,0.0
531,1.0,0.250859,0.4,0.000000,0.000000,0.0,1.0,0.000000,1.0
66,1.0,0.793814,0.2,0.000000,0.000000,1.0,0.0,0.333333,0.0
186,1.0,0.670790,0.2,0.000000,0.333333,0.0,0.0,0.000000,1.0
...,...,...,...,...,...,...,...,...,...
234,1.0,0.153265,0.4,0.333333,0.333333,0.0,0.0,0.666667,0.0
68,1.0,0.298969,0.4,0.000000,0.000000,0.0,1.0,0.333333,0.0
470,1.0,0.235464,0.4,0.000000,0.000000,0.0,0.0,0.000000,0.0
266,1.0,0.221993,0.4,0.000000,0.000000,0.0,0.0,0.666667,1.0
41,1.0,0.323711,0.4,0.333333,1.000000,0.0,1.0,0.000000,1.0

In [33]:
model = sm.OLS(y_train,X_train).fit()

In [34]:
model.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                        Results: Ordinary least squares
===============================================================================
Model:                  OLS              Adj. R-squared (uncentered): 0.917
Dependent Variable:     price            AIC:                         -765.3099
Date:                   2020-05-22 18:04 BIC:                         -714.0535
No. Observations:       381              Log-Likelihood:              395.65
Df Model:               13               F-statistic:                 326.2
Df Residuals:           368              Prob (F-statistic):          7.20e-193
R-squared (uncentered): 0.920            Scale:                       0.0075963
----------------------------------------------------------------------------------
                     Coef.     Std.Err.       t       P>|t|      [0.025     0.975]
----------------------------------------------------------------------------------
area                 0.3222      0.0340     9.4755    0.0000     0.2554     0.3891
bedrooms             0.0782      0.0301     2.6006    0.0097     0.0191     0.1373
bathrooms            0.2315      0.0309     7.4838    0.0000     0.1707     0.2923
stories              0.1084      0.0186     5.8380    0.0000     0.0719     0.1450
mainroad             0.0423      0.0118     3.5949    0.0004     0.0192     0.0654
guestroom            0.0382      0.0126     3.0373    0.0026     0.0135     0.0629
basement             0.0281      0.0106     2.6399    0.0086     0.0072     0.0490
hotwaterheating      0.0509      0.0242     2.0978    0.0366     0.0032     0.0985
airconditioning      0.0793      0.0106     7.5045    0.0000     0.0585     0.1001
parking              0.0630      0.0173     3.6444    0.0003     0.0290     0.0969
prefarea             0.0474      0.0110     4.3191    0.0000     0.0258     0.0690
semi-furnished       0.0028      0.0104     0.2648    0.7913    -0.0178     0.0233
unfurnished         -0.0251      0.0107    -2.3405    0.0198    -0.0463    -0.0040
-------------------------------------------------------------------------------
Omnibus:                  41.146            Durbin-Watson:               2.094
Prob(Omnibus):            0.000             Jarque-Bera (JB):            87.411
Skew:                     0.585             Prob(JB):                    0.000
Kurtosis:                 5.034             Condition No.:               11
===============================================================================

"""

In [35]:
# calculating vif value
def vif_cal(input_data, dependent_col):
    vif_df = pd.DataFrame( columns = ['Var', 'Vif'])
    x_vars=input_data.drop([dependent_col], axis=1)
    xvar_names=x_vars.columns
    for i in range(0,xvar_names.shape[0]):
        y=x_vars[xvar_names[i]] 
        x=x_vars[xvar_names.drop(xvar_names[i])]
        rsq=sm.OLS(y,x).fit().rsquared  
        vif=round(1/(1-rsq),2)
        vif_df.loc[i] = [xvar_names[i], vif]
    return vif_df.sort_values(by = 'Vif', axis=0, ascending=False, inplace=False)

In [36]:
vif_cal(df , 'price')

                Var   Vif
1          bedrooms  7.55
4          mainroad  5.91
0              area  4.64
3           stories  2.75
11   semi-furnished  2.24
6          basement  2.01
9           parking  2.00
12      unfurnished  1.87
8   airconditioning  1.76
2         bathrooms  1.69
10         prefarea  1.50
5         guestroom  1.48
7   hotwaterheating  1.09